html {
  color: #444;
  background-color: #f9f9f9;
  height: 100%;
  display: block;
}
body {
  font: 100% helvetica,arial,freesans,clean,sans-serif;
  *font-size: small;
  padding: 1em 2em;
}

a {
  color: #1A6BB2;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0.5em;
}
h1 a {
  color: #000;
  text-decoration: none !important;
}
h1 .ship {
  color: #036;
}
h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 0.4em;
}

li {
  margin-bottom: 0.4em;
}

table {
  font-size: inherit;
}

input[type=text], input[type=password], input[type=image], textarea {
  font: 100% helvetica, arial, freesans, sans-serif;
  padding: 1px 0;
  margin-bottom: 0.5em;
}
select, option {
  padding: 0 0.25em;
}
optgroup {
  margin-top: 0.5em;
}

nav {
  float: right;
}
nav ul {
  display: inline;
}
nav ul li {
  display: inline;
  margin-left: 0.8em;
}
nav a {
  font-weight: bold;
}
nav .user {
  color: #000;
  font-weight: bold;
}

#repo-list {
  font-size: 1.1em;
  margin: 0 0 1.3em 0.5em;
}

a.button, button {
  background: #ddd;
  background: -webkit-gradient(linear, left top, left bottom,
    from(#ededed), to(#c4c4c4));
  background: -moz-linear-gradient(top,
    #ededed, #c4c4c4);

  border: 1px solid #acacac;
  border-top-color: #bdbdbd;
  border-bottom-color: #949494;

  border-radius: 0.214em;
  -webkit-border-radius: 0.214em;
  -moz-border-radius: 0.214em;

  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);

  transition: box-shadow 0.1s ease-in-out;
  -webkit-transition: box-shadow 0.1s ease-in-out;
  -moz-transition: box-shadow 0.1s ease-in-out;
  -o-transition: box-shadow 0.1s ease-in-out;

  color: #4f4f4f;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.75);
  font-weight: bold;

  padding: 0.35em 0.6em;
  text-decoration: none !important;
  cursor: pointer;
}
a.button:hover, button:hover,
a.button:focus, button:focus {
    box-shadow:
      0 0 7px rgba(0,0,0,0.4), inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:
      0 0 7px rgba(0,0,0,0.4), inset 0 1px 0 rgba(255,255,255,0.5);
    -moz-box-shadow:
      0 0 7px rgba(0,0,0,0.4), inset 0 1px 0 rgba(255,255,255,0.5);
}
a.button:active, button:active {
  background: #ccc;
  background: -webkit-gradient(linear, left top, left bottom,
    from(#c3c3c3), to(#ebebeb));
  background: -moz-linear-gradient(top,
    #c3c3c3, #ebebeb);

  border-color: #a6a6a6;
  border-top-color: #939393;
  border-bottom-color: #bcbcbc;

  box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5);
  -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5);
  -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5);
}
button[disabled],
button[disabled]:active {
  color: #a7a7a7;

  background: #efefef;
  background: -webkit-gradient(linear, left top, left bottom,
    from(#f6f6f6), to(#e1e1e1));
  background: -moz-linear-gradient(top,
    #f6f6f6, #e1e1e1);

  border-color: #d4d4d4;
  border-top-color: #dedede;
  border-bottom-color: #c9c9c9;
  cursor: default;
}
button[disabled]:hover,
button[disabled]:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
